<!DOCTYPE html>
<html lang="es">
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  
  	<!-- Skeleton CSS -->
  	<link rel="stylesheet" type="text/css" th:href="@{/css/skeleton/normalize.css}"/>
  	<link rel="stylesheet" type="text/css" th:href="@{/css/skeleton/skeleton.css}"/>
  	
  	<!-- Fonts CSS -->
  	<link rel="stylesheet" type="text/css" th:href="@{/css/main/fonts.css}"/>
  	
  	<!-- Main CSS -->
  	<link rel="stylesheet" type="text/css" th:href="@{/css/main/style.css}"/>
  
  </head>
  <body>
    <div th:replace="layout/header.html :: header"></div>
    
	<main class="container mercadoList">
		<div class="row">
			<table class="twelve columns">
				<thead>
					<tr>
						<th>Producto</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="producto : ${productList}">
						<tr>
							<td><a th:href="@{'/productos/addComercialProductoToPuesto?categoriaId='+${categoriaId}+'&puestoId='+${puestoId}+'&productoId='+${producto.productoId}}" th:text="${producto.nombre}"></a></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</main>

    <div th:replace="layout/footer.html :: footer"></div>
    
    <script type="text/javascript" th:src="@{/js/jquery/jquery-3.3.1.min.js}"></script>
  </body>
</html>